.footerLink {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  line-height: 0.6rem;
}

.footerLink a {
  text-decoration: none;
  color: #807A80;
  font-size: 13px;
}

.footerLink p {
  text-decoration: none;
  color: #807A80;
  font-size: 13px;
  cursor: pointer;
  margin: 0;
}

.footerLink a:hover {
  text-decoration: underline;
}