.colCenter {
  display: flex;
  justify-content: center !important;
}

.footer {
  width: 65%;
}

.footerLink {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.footerLink a {
  text-decoration: none;
  color: #807A80;
  font-size: 13px;
}

.footerLink p {
  text-decoration: none;
  color: #807A80;
  font-size: 13px;
  cursor: pointer;
  margin: 0;
}

.footerLink a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .footer {
    width: 85%;
  }
}

@media (max-width: 769px) {
  .footer {
    width: 65%;
    margin-top: 40px;
  }
}