.bgImage {
  background-image: url('/login/8n91YnfPq0s.png');
  background-position: 0 -52px;
  background-size: auto;
  width: 175px;
  height: 51px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.mobileBorder {
  border: 0.1rem solid rgba(0, 0, 0, 0.158);
}

@media (max-width: 769px) {
  .mobileScreen {
    display: none;
  }

  .formComponant {
    width: 50%;
  }

}

@media (max-width: 500px) {

  .formComponant {
    width: 80%;
  }

  .mobileBorder {
    border: transparent;
  }
}