/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

.customContainer {
  border-right: 1px solid #343a40;
  border-color: #343a40;
  height: 100vh;
  color: white;
}

.customHeader {
  padding: 30px 34px 0px 25px;
  font-family: 'Lobster Two', sans-serif;
  font-size: 26px;
}

.customHeader p {
  cursor: pointer;
}
