.mainbox {
  padding: 30px 0px 10px;
  align-items: center;
  color: white;
  display: flex;
}

.slidecontainer {
  width: 90%;
  margin: 0 auto;
  margin-right: 40px;
}

.slidecontainer::-webkit-scrollbar {
  display: none;
}

.centerimg {
  background: linear-gradient(rgb(8, 8, 8), rgb(5, 5, 5)) padding-box,
    linear-gradient(to right, #FFC900, #D300C5) border-box;
  border: 3px solid transparent;
  border-radius: 50%;
  height: 65px !important;
  width: 65px !important;
  padding: 2px;
}

.centerimg:focus-visible {
  outline: none;
}

.centerimg:hover {
  cursor: pointer;
}

.centerimgtext {
  padding: 0px 10px;
  color: #fdf9f9;
}

@media (max-width: 500px) {
  .mainbox {
    padding: 10px 0px 5px;
  }
}