.bgImage {
  background-image: url('/login/8n91YnfPq0s.png');
  background-position: 0px -52px;
  background-size: auto;
  width: 245px;
  height: 51px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.formComponant {
  width: 28%;
}

.mobileBorder {
  border: 0.1rem solid rgba(0, 0, 0, 0.158);
}

.heading {
  font-weight: 600;
  color: #807A80;
  letter-spacing: -0.5px;
}



@media (max-width: 1024px) {
  .formComponant {
    width: 32%;
  }
}

@media (max-width: 769px) {
  .mobileScreen {
    display: none;
  }

  .formComponant {
    width: 45%;
  }
}

@media (max-width: 500px) {

  .formComponant {
    width: 80%;
  }

  .mobileBorder {
    border: transparent;
  }
}