@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

/* body {
  background-color: black !important;
  color: white !important;
} */

.fontStyle {
  font-family: 'Lobster Two', sans-serif;
}

.form-control {
  font-size: 12px !important;
  background-color: #FAFAFA !important;
  border-radius: 5px !important;
  height: 38px !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: rgba(17, 17, 17, 0.26) !important;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.slick-prev,
.slick-next {
  top: 32% !important;
  display: block;
  width: 30px !important;
  height: 30px !important;
  z-index: 1;
}

.slick-prev {
  left: 10px !important;
}

.slick-next {
  right: 15px !important;
}

.offcanvas.offcanvas-start {
  left: 70px;
}

.offcanvas.show:not(.hiding),
.offcanvas.showing {
  background-color: black;
  color: #FAFAFA;
  border-right: 1px solid #8e8e8e7a;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}